!!!
%html
  %head
    %title Gap - Vacations Management
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    - if user_signed_in?
      = stylesheet_link_tag "admin", :media => "all"  
    - else
      = stylesheet_link_tag "public", :media => "all"
    = csrf_meta_tags
    = yield :header_information
  %body
    #main
      #header
        #logo
          #logo_text
            %h1
              = link_to "Vacations Management", root_path
            %h2
              %a{:title => 'Go to Growth Acceleration Partners Site', :href => 'http://www.growthaccelerationpartners.com'} Growth Acceleration Partners
        = render :partial=>'shared/menu'
      #content_header
      #site_content
        #content
          = yield
      #content_footer
      #footer
        %p 
          Copyright &copy; Rodrigo Rodriguez 
          |
          %a{:title => 'HTML5', :href => 'http://validator.w3.org/check?uri=referer'} HTML5
          |
          %a{:title => 'Original Design', :href => 'http://www.html5webtemplates.co.uk'} Original Design
      %p &nbsp;